@import './variables.scss';
.main {
    position: relative;
    margin: 5rem auto;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 1s;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 0 5rem;
    &__label {
        font-size: 2.2rem;
        font-weight: 500;
    }
    &__date {
        font-size: 1.4rem;
        color: #777;
    }
    &__value {
        font-size: 4rem;
        font-weight: 400;
    }
    &__message {
        font-family: inherit;
        color: inherit;
        font-size: 1.6rem;
        font-weight: 400;
        border: 1px solid #fff;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: #eee;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .2);
    }
}

.accBody {
    display: flex;
    padding: 4rem;
    .ops {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        color: #333;
        padding-right: 2rem;
        .op {
            &:not(:last-child) {
                margin-bottom: 3.9rem;
            }
            padding: 3rem 4rem;
            color: #444;
            border-radius: 2rem;
            h2 {
                margin-bottom: 1.5rem;
                font-size: 1.7rem;
                font-weight: 600;
                color: #333;
            }
            .form {
                display: flex;
                flex-direction: column;
                .input-flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                }
                .label-flex {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 1rem;
                    div {
                        flex: 0 0 45%;
                    }
                }
                &__btn {
                    border: none;
                    border-radius: .5rem;
                    font-size: 1.8rem;
                    width: 50%;
                    cursor: pointer;
                    &--block {
                        padding: .3rem 1rem;
                        font-size: 1.4rem;
                        color: inherit;
                        ;
                    }
                }
            }
            .form__input {
                width: 100%;
                border: none;
                background-color: rgba(255, 255, 255, 0.4);
                font-family: inherit;
                font-size: 1.5rem;
                text-align: center;
                color: #333;
                padding: 0.3rem 1rem;
                border-radius: 0.7rem;
                transition: all 0.3s;
                margin-right: 2rem;
                &:focus {
                    outline: none;
                    background-color: rgba(255, 255, 255, 0.6)
                }
                &--message {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
        .op--lend {
            background-image: linear-gradient(to bottom right, #c8dad3, #595e56);
        }
        .op--borrow {
            background-image: linear-gradient(to bottom left, #c9e9a0, #10c06e);
        }
        .op--block {
            background-image: linear-gradient(to bottom right, #ec4a73, #860711);
        }
    }
}

.summeries {
    display: flex;
    align-items: baseline;
    width: 50%;
    margin-left: 40%;
    padding: 0 4rem;
    &__label {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 0.8rem;
    }
    &__value {
        font-size: 2.2rem;
        margin-right: 2.5rem;
        &--in {
            color: #66c873
        }
        &--out {
            color: #f5465d;
        }
    }
}