.animation {
    overflow: hidden;
    position: relative;
}

.login-transition-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.login-transition-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 800ms ease-in-out 0.25s;
}

.login-transition-exit {
    opacity: 1;
    transform: translateX(0%);
}

.login-transition-exit-active {
    opacity: 0;
    transform: translateX(200%);
    transition: opacity 250ms, transform 800ms cubic-bezier(0, 1.03, 0, 1.02);
}

.App {
    max-height: 96vh;
}

.app-container {
    background-color: #e7e8ec;
    border-radius: 2rem;
    min-height: 96vh;
    overflow: hidden;
}