.mov {
    display: flex;
    flex-direction: column;
    height: 50rem;
    background-color: white;
    flex: 0 0 60%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    overflow: scroll;
    &__row {
        padding: 2.2rem 4rem;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: .5rem;
        border-bottom: 1px solid #eee;
        width: 100%;
        // border-radius: 1rem;
        // &--dep {
        //     border: 1px solid #39b385 ;
        //     // background-image: linear-gradient(to top left, #39b385, #9be15d);
        // }
        // &--withD {
        //     // border: 1px solid #e52a5a;
        //     background-image: linear-gradient(to top left, #e52a5a, #ff585f);
        // }
    }
    &__type {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        padding: .2rem 1rem;
        border-radius: 5rem;
        align-self: center;
        justify-self: start;
        &--dep {
            background-image: linear-gradient(to top left, #39b385, #9be15d);
        }
        &--withD {
            background-image: linear-gradient(to top left, #e52a5a, #ff585f);
            margin-right: -1rem;
        }
    }
    &__transactionTyp {
        align-self: center;
        justify-self: center;
        font-size: 1.3rem;
        color: #777;
    }
    &__direction {
        align-self: center;
        justify-self: center;
        font-size: 1.3rem;
        color: #777;
    }
    &__date {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #777;
        align-self: center;
        justify-self: center;
    }
    &__message {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        font-size: 1.2rem;
        width: max-content;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        padding: .5rem 1rem;
        border-radius: 1rem;
        background-image: linear-gradient(to right, #82d2e6, #3e5c75);
    }
    &__value {
        font-size: 1.7rem;
        align-self: center;
        justify-self: end;
    }
}