@import './mixins.scss';
.mov {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: white;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    overflow: scroll;
    grid-column: 1/4;
    @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 2/3;
        max-height: 25vh;
    }
    &__headline {
        color: #444;
        font-weight: 600;
        padding: 1rem;
        // background-color: #e52a5a;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        button {
            background-image: linear-gradient(to left, #0f884f, #34e89e);
            padding: 3px 9px;
            border: none;
            border-radius: 5px;
            color: #fff;
        }
    }
    &__row {
        padding: 0.8rem 1.6rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 0.5rem;
        border-bottom: 1px solid #eee;
        width: 100%;
    }
    &__type {
        font-size: 1.1rem;
        text-transform: lowercase;
        font-weight: 500;
        color: white;
        padding: 0.2rem 0.6rem;
        border-radius: 3px;
        align-self: center;
        justify-self: start;
        &--dep {
            background-image: linear-gradient(to top left, #39b385, #9be15d);
            background-image: linear-gradient(to right, #269762, #0caf63);
        }
        &--withD {
            background-image: linear-gradient(to top left, #e52a5a, #ff585f);
            margin-right: -1rem;
        }
    }
    &__message {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        font-size: 1.2rem;
        width: max-content;
        text-transform: lowercase;
        font-weight: 500;
        color: white;
        padding: 0.2rem 0.6rem;
        border-radius: 3px;
        background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    }
    &__transactionTyp {
        align-self: center;
        justify-self: center;
        font-size: 1.3rem;
        color: #777;
    }
    &__direction {
        align-self: center;
        justify-self: center;
        font-size: 1.3rem;
        color: #777;
    }
    &__date {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #777;
        align-self: center;
        justify-self: center;
    }
    &__value {
        font-size: 1.7rem;
        align-self: center;
        justify-self: end;
    }
}